{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}
{% form_theme form 'CoreBundle:Form:base.fields.html.twig' %}

{% block content %}
 
    <div class="container">
        <div class="col-sm-4"></div>  
        <div class="col-md-4 container-recovery">
            <div class="row">
                <h2 class="center">{{ 'recovery.title' | trans }}</h2>
                <hr>
                <div class="container-recovery-form">
                    {% include 'CoreBundle:Base:alert.messages.html.twig' %}
                    
                    {{ recovery_form()}}
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>     
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
 
    <script type="text/javascript">
        $(document).ready(function(){
            $('form[name="recovery_email"]').submit(function(e){
                e.preventDefault();
                var email = $('#recovery_email_email').val();

                if(email != ''){
                    $.ajax({
                        type: "POST",
                        url: "{{ path('core_baseactor_recoverypassword') }}/"+email,
                      }).done(function( data ) {
                        $('#returnMessage').show();
                        if($('#returnMessage div').length == 0){
                            var html = '<div class="alert alert-recovery-password"><button type="button" class="close" data-dismiss="alert">×</button><strong></strong></div>';
                            $('#returnMessage').html(html);
                        }
                        
                        $('#returnMessage div strong').text(data.answer.message);
                        if(data.answer.status == 'success'){
                            $('#returnMessage div').removeClass('alert-warning');
                            $('#returnMessage div').addClass('alert-success');
                        }
                        if(data.answer.status == 'error'){
                            $('#returnMessage div').removeClass('alert-success');
                            $('#returnMessage div').addClass('alert-warning');
                        }
                      });
                }
            });
        });
    </script>
    
{% endblock %}