<div class="login-header main-header-wrapper create-form-header">
    <div class="main-header-inner">
        <a href="/" class="logo sandbox">_sandbox</a>
        <div class="header-register text-right"><a href="/register">{{ 'signup.first' | trans }}</a></div>
        <div class="header-login text-right"><a href="/login">{{ 'login.short' | trans }}</a></div>
        {% include 'CoreBundle:Base:language.html.twig' %}
    </div>
</div>