{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}

{% block  content %}
    <div class="col-sm-4"></div>        
    <div class="col-sm-4 container-login">
            <h2 class="center">{{ 'login.account' | trans }}</h2>
            <hr>
            {% if error is defined and error %}
               <div>{{ error.message }}</div>
            {% endif %}
            {{ login_form() }}
    </div>
    <div class="col-sm-4"></div>               
{% endblock %}
