{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}
 
{% block content %}
 
    <div class="container">
        <div class="col-sm-2"></div>  
        <div class="col-md-8 container-register">
            <div class="row container-login-register">
                <h2 class="center">{{ 'signup.title' | trans }}</h2>
                <hr>
                <div class="container-register-form">
                    
                    {% include 'CoreBundle:Registration:'~form_template %}
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>     
    </div>
  
    
{% endblock %}
