.oauth-button-twitter{
    background-color: #1da1f2;
    color: #fff;
    border: 0;
}
.oauth-button-google{
    background-color: #db4437;
    color: #fff;
    border: 0;
}
.oauth-button-facebook{
    background-color: #29487d;
    color: #fff;
    border: 0;
}
.oauth-button-instagram{
    background-color: #e4405f;
    color: #fff;
    border: 0;
}

