.oauth-button-container{
    padding:0px;
    margin-bottom: 25px;
    .social-login-button{
        width: 100%;
        .btn{
            width: 100%;

        }
        .oauth-button-twitter, .oauth-button-twitter:hover{
            background-color: #1da1f2;
            color: #fff;
            border: 0;
        }
        .oauth-button-google, .oauth-button-google:hover{
            background-color: #db4437;
            color: #fff;
            border: 0;
        }
        .oauth-button-facebook, .oauth-button-facebook:hover{
            background-color: #29487d;
            color: #fff;
            border: 0;
        }
        .oauth-button-instagram, .oauth-button-instagram:hover{
            background-color: #e4405f;
            color: #fff;
            border: 0;
        }
        .oauth-button-test_connect, .oauth-button-test_connect:hover{
            padding: 10px 0;
        }
        .ion-social-test_connect {
            background: url(/bundles/core/images/oauth-logo.svg) center;
            background-size: 25px 30px;
            background-repeat: no-repeat;
            display: block;
            padding: 15px;
        }
    }

}