.core-body {
  font-family: 'today-shop', sans-serif;
  font-size: 16px;
  color: #444;
  background-color: #fbfbfb;
}
.core-row{
  border: 1px solid #ccc;
  background-color: #ffffff; 
  ul{
      padding-left: 0px;
      li{
          background-color: #fff;
          display: inline-block;
          padding: 10px;
          border-radius: 5px; 
          margin-right: 10px
      }
  }
}

/*h1, h2, h3, h4 {
  font-weight: bold;
}

h5 {
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
}*/
/*
label {
  color: #009ca6;

  small {
    color: #bebebe;
  }
}

a {
  outline: none !important;
}

input:focus, button:focus, input {
  outline: none;
  outline-width: 0;
}*/

/*button, .btn {
  background-color: #444 !important;
  color: #ccc !important;
  font-weight: bold !important;
  border-radius: 5px !important;
  border-color: transparent !important;
  padding: 6px 17px !important;  
  text-decoration: none;
  // font-family: "cursive-standard";
}*/

/*.btn-login {
  font-size: 14px !important;
  font-family: 'today-shop', sans-serif !important;
}

body.inner
{
  background: url('/bundles/front/images/bg_main.png');
  background-repeat: repeat;
}*/

.center {
  text-align: center;
}

/*.return {
    background: url("/bundles/front/images/sprite.png") no-repeat scroll -77px -242px #5b4639;
    border-radius: 5px;
    display: block;
    height: 38px;
    width: 37px;
}*/

/*.btn-core {
  background-color: #5B4639;
  font-family: "cursive-standard";
  font-size: 18px;
  color: #FFFFFF;
  padding: 6px 14px 4px !important;
}
.btn {
  background-color: #5B4639;
  font-family: "cursive-standard";
  font-size: 18px;
  color: #FFFFFF;
  padding: 6px 14px 4px !important;
  letter-spacing: 1px;
}*/
