<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><span class="glyphicon glyphicon-remove-sign"></span></a>
            <h3 class="white">Registrate</h3>
            <div class="oauth-buttons">{{ oauth_buttons() }}</div>
            {{ register_form() }}
        </div>
    </div>
</div>