       
<p>&nbsp;</p>
<p>Nombre Comercial: <strong>{{ core.name }}</strong> 
<br/>CIF / NIF: <strong>{{ core.company.id }}</strong> 
<br/>e-Mail: {{ core.company.email }} 
<br/>Nombre de dominio: <strong>www.{{ core.server_base_url }}</strong></p>
<p>&nbsp;</p>
<p>El prestador, responsable del sitio web, pone a disposición de los usuarios el presente documento con el que pretende dar cumplimiento a las obligaciones dispuestas en la Ley 34/2002, de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI-CE), así como informar a todos los usuarios del sitio web respecto a cuáles son las condiciones de uso del sitio web.</p>
<p>El prestador se reserva el derecho a modificar, corregir, añadir o eliminar cualquier tipo de información que pudiera aparecer en el sitio web o en su diseño, sin que exista obligación de preavisar o poner en conocimiento de los usuarios dichas obligaciones, entendiéndose como suficiente con la publicación en el sitio web del prestador.</p>
<p>El prestador se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web, siempre que esta información haya sido manipulada o introducida por un tercero ajeno al mismo.</p>
<p>Desde el sitio web del cliente es posible que se redirija a contenidos de terceros sitios web. Dado que el prestador no puede controlar siempre los contenidos introducidos por los terceros en sus sitios web, éste no asume ningún tipo de responsabilidad respecto a dichos contenidos. En todo caso, el prestador manifiesta que procederá a la retirada inmediata de cualquier contenido que pudiera contravenir la legislación nacional o internacional, la moral o el orden público, procediendo a la retirada inmediata de la redirección a dicho sitio web, poniendo en conocimiento de las autoridades competentes el contenido en cuestión.</p>
<p>Este sitio web ha sido revisado y probado para que funcione correctamente. En principio, puede garantizarse el correcto funcionamiento los 365 días del año, 24 horas al día. No obstante, el prestador no descarta la posibilidad de que existan ciertos errores de programación, o que acontezcan causas de fuerza mayor, catástrofes naturales, huelgas, o circunstancias semejantes que hagan imposible el acceso a la página web.</p>
<p>&nbsp;</p>
<h1 class="title">Protección de datos personales</h1>
<p>&nbsp;</p>
<p>El prestador pone a disposición de los usuarios la Política&nbsp;Datos del Responsable del tratamiento.
<br/>Fichero en el que se almacenan. 
<br/>Obligatoriedad o no de facilitarlos, así como las consecuencias en caso de no facilitarlos.
<br/>Independientemente de la finalidad para la que fueran destinados, la reproducción total o parcial, uso, explotación, distribución y comercialización, requiere en todo caso de la autorización escrita previa por parte del prestador. Cualquier uso no autorizado previamente por parte del prestador será considerado un incumplimiento grave de los derechos de propiedad intelectual o industrial del autor.</p>
<p>&nbsp;</p>
<p>El prestador <em>no autoriza</em> expresamente a que terceros puedan redirigir directamente a los contenidos concretos del sitio web, debiendo en todo caso redirigir al sitio web principal del prestador.</p>
<p>Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de propiedad intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede hacerlo a través del siguiente correo electrónico.</p>     