@font-face {
    font-family: 'cursive-standard';
    src:url('../fonts/Cursivestandard.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cursive-standard';
    src:url('../fonts/Cursivestandardbold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'today-shop';
    src:url('../fonts/TodaySHOP-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'today-shop';
    src:url('../fonts/TodaySHOP-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
